<% if flash[:message] %>
    <div class=loginmessage><%= flash[:message] %></div>
<% end %>

<h2>Sign in</h2>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    Name: <%= text_field(:user, :name) %><br>
    Password: <%= password_field(:user, :password) %><br>
    <%= submit_tag 'Sign In' %>
<% end %> 
<br>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %>
<br>
<%= link_to "Sign up", new_user_path %>