<div class=moveurass>
Monster: <%= @contract.monster.name %><br>
Location: <%= @contract.location.name %><br>
Reward: <%= @contract.reward %><br>
Details: <%= @contract.details %><br>
Posted by: <%= link_to @contract.user.name, user_path(@contract.user.id) %><br><br>

<%= show_claimed_by %>

<% if @user.witcher? && !@contract.contract_is_claimed? %>
    <%= form_for(@contract) do |f| %>
        <%= f.hidden_field :witcher_id, value: @user.id %>
        <%= f.submit "Claim contract" %>
    <% end %>
<% end %>

<%# <%= show_edit_link %> 
</div>