<% if @monster.type_id != nil %>
  <h2>Create a new <%= @monster.type.name %> monster </h2>
<% else %>
    <h2>Create a new monster</h2>
<% end %>

<%= render partial: "layouts/error", locals: {object: @monster}  %>

<%= form_for(@monster) do |f| %>
    <%= f.label :name %>
    <%= render partial: "form", locals: {in_the_partial: f} %><br><br>
    <%= f.submit %> 
<% end %>