<h2>Add a new monster</h2>

<% if @monster.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
        <% @monster.errors.full_messages.each do |error| %>
        <li><%= error %></li>
        <% end %>
    </ul>
    </div>
<% end %> 

<%= form_for(@monster) do |f| %>
    <%= f.label :name %>
    <%= render partial: "form", locals: {in_the_partial: f} %><br>
    <%= f.submit %> 
<% end %>