<div class=moveurass>
<h2> <%= @monster.name %> </h2>
<h3> <%= @monster.type.name %></h3>
<h4> Weaknesses: </h4>
<% @monster.weaknesses.all.each do |w| %>
    <%= w.name %> - <%= w.weakness_type.name %><br>
<% end %>

<br>
<%= link_to "Add Weakness", edit_monster_path(@monster.id) %>
</div>