<h2>Sign up</h2>


<%= form_tag ({controller: 'users', action: 'create', method: 'post'}) do %>
    Name: <%= text_field(:user, :name) %><br>
    Password: <%= password_field(:user, :password) %><br>
    <br>
    Witcher's Only:<br>
    School: <%= collection_select(:user, :school_id, School.all, :id, :name) %><br>
    <%= submit_tag 'Sign Up' %>
<% end %> 

